.share {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);

    .share-wrapper {
        padding: 10px;

        .share-top {
            display: flex;
            align-items: center;

            .share-profile-image {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
                cursor: pointer;
            }

            .share-input {
                border: none;
                width: 80%;
                font-size: 20px;
            }

            .share-input:focus {
                outline: none;
            }

        }

        .share-hr {
            margin: 20px;
        }

        .share-image-container {
            padding: 0 20px 10px 20px;
            position: relative;

            .share-image {
                width: 100%;
                object-fit: cover;
            }

            .share-cancel-image {
                position: absolute;
                top: 0;
                right: 20px;
                cursor: pointer;
                opacity: 0.7;
            }
        }

        .share-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .share-options {
                display: flex;
                margin-left: 20px;

                .share-option {
                    display: flex;
                    align-items: center;
                    margin-right: 15px;
                    cursor: pointer;

                    .share-icon {
                        font-size: 30px;
                        margin-right: 3px;
                    }

                    .share-option-text {
                        font-size: 18px;
                        font-weight: 500;
                    }

                }

            }

            .share-button {
                border: none;
                padding: 7px;
                width: 150px;
                border-radius: 5px;
                background-color: var(--clr-green);
                font-weight: 500;
                margin-right: 20px;
                cursor: pointer;
                font-size: 18px;
                color: var(--clr-white)
            }
        }
    }

}